*{
    font-family: 'roboto',sans-serif;
    
}
.header{
    display: flex;
    background-color: #1F2937;
    color: white;
    align-items:center;
    
    
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    
}
.right-links{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: 10%;

    
}
.right-links div{
    margin: 10px;

}

.left-links{
    margin-right: 550px; 
    margin-left: 10%;
    padding:25px;
    font-size:24px;
    padding-left: 0;
}

.content1{
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-basis: 300px;
    align-items: center;
    padding:25px;
    padding-right: 10%;

    

}
.wrap{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}
.signup{
    
    padding: 25px;
    padding-left: 10%; 
    flex:1 1 auto;
}
.inp{
    background-color:#3882F6;
    border:5px;
    border-radius:10px;
    color: #E5E7EB;
    padding:10px;
    margin:8px;
    margin-left: 0;
}
#1 .inp{
    border: 3px;
    border-color: #E5E7EB;
}
.signup div{
    font-size: 48px;
    font-weight: bolder;
    padding:2px; 

}
.place{
    display: flex;
    margin-left:25px;
    background-color:grey ;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 700px;
    height:250px;
    
}
img{
    border:5px #3882F6;
    border-radius: 20px;
}
.para{
    color: #1F2937;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;

}
.para1{
    font-size: 14px;
    color:#1F2937;
    margin-bottom: 35px;
}
.content3{
    display: flex;
    background-color: #E5E7EB;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    
    
}



.content4{
    padding-left: 10%;
    padding-right: 10%;
    color: #E5E7EB;
    
    
}
.calltoa{
    background-color: #3882F6; 
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom:7px;
    padding-top: 7px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius:8px;
    display: flex;
    justify-content: center;
    
    
    
}
.cta1{
    flex:1;
    padding: 10px;

}
.cta2{
    flex:1;
    display: flex;
    justify-content: center;
    align-self: center;
}
.inp2{
    background-color:#3882F6;
    border:1px solid #E5E7EB;
    border-radius:10px;
    color: #E5E7EB;
    padding:7px;
    margin:8px;
    margin-left: 0;
    
}

#1{
    display: flex;
    margin-top: 0;
    
}

.quote{
    font-size: 36px ;
    font-style:italic;
    
    
}
.author{
    font-size: 28px;
    font-weight: bolder;
}
.footer{
    text-align: center;
    background-color: #1F2937;
    color: white;
    margin:auto 0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
}